@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");




header {
	font-family: 'Playfair Display';

	.main {

		width: 100%;
		transition: background-color .5s;
		background-color: transparent;

		.mobile-nav-trigger {
			color: white;
		}
	}

	}
	.mobile-menu-open{
		position: absolute;

		width: 100vw;
		height: 100vh;
		background: whitesmoke;
		opacity: 0.8;
		justify-content: flex-start;
		align-items: flex-end;
		z-index: 100;
		padding: 100px;


	}

nav.main{
	ul{
		li{
			a{
				opacity: .75;
				transition: opacity .2s ease;
				position: relative;
				&:hover{
					opacity: 1;
				}
			}
		}
	}
}

.dropdown{
	position: absolute;
	left: 50%;
	top: 50px;
	transform: translate(50%, 10px);
	transition: transform 0.5s, opacity .2s;
}
main{
	opacity: 1;
	transition: opacity .5s;
	.header{
		position: relative;
		z-index: 2;

	}
}
h1 {
	color: #1b1b1b;
	font-family: 'Oswald', sans-serif;
}

.icon-menu {
	font-family: "Material Icons";
	content: "\e5d2";
}

//hero

.hero-container {
	background: rgba(235, 235, 242, .3);
	background-image: url('@/assets/images/saira-C5Uk-pdNXWg-unsplash.png');
	background-size: cover;
	background-position: cover;

	.inner-container {
		background: rgba(245, 245, 245, 0.2);

	}
}

.accordion {
	&.enabled {
		.visible-part {
			cursor: pointer;
		}
	}

	&.transition {
		overflow: hidden;

		.hidden-part {
			transition: height .3s ease-in-out;
		}
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .5s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}